@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif !important;
}
.common_btn:focus,
.common_btn:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 0.7em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #9c5cec;
  }
}
.drop_shadow {
  box-shadow: 0px 0px 10px 0px #121dd199;
}
.glass:hover {
  animation: tilt linear 2s infinite;
}

@keyframes tilt {
  0%,
  100% {
    transform: skewY(2deg);
  }
  50% {
    transform: skewY(-2deg);
  }
}
.glass_effect::before {
  content: "";
  background: rgb(255, 255, 255, 0.4);
  transform: skew(45deg);
}
.glass_effect:hover::before {
  left: 150%;
}
